In [1]:
import scrapy


class OldCarSpider(scrapy.Spider):
    name = "OldCar"

    def start_requests(self):
        urls = [
            'https://xe.chotot.com/dak-lak/thanh-pho-buon-ma-thuot/mua-ban-oto/76477935.htm#px=SR-stickyad-[PO-1][PL-top]',
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)

    def parse(self, response):
        page = response.url.split("/")[-2]
        filename = 'quotes-%s.html' % page
        with open(filename, 'wb') as f:
            f.write(response.body)
        self.log('Saved file %s' % filename)

In [20]:
scrapy shell 'http://quotes.toscrape.com/page/1/'

SyntaxError: invalid syntax (<ipython-input-20-b7897bf25f44>, line 1)

In [4]:
import json
with open('E:\\20201\\nhập môn khoa học dữ liệu\\project_dataScience\\oldCar\\1.json', encoding='utf8') as f:
    data_1 = json.load(f)

with open('E:\\20201\\nhập môn khoa học dữ liệu\\project_dataScience\\oldCar\\2.json', encoding='utf8') as f:
    data_2 = json.load(f)

with open('E:\\20201\\nhập môn khoa học dữ liệu\\project_dataScience\\oldCar\\3.json', encoding='utf8') as f:
    data_3 = json.load(f)

with open('E:\\20201\\nhập môn khoa học dữ liệu\\project_dataScience\\oldCar\\4.json', encoding='utf8') as f:
    data_4 = json.load(f)

data = data_1 + data_2 + data_3 + data_4

In [5]:
len(data)

31763

In [6]:
print(data[0])

{'car_info': {'Hãng: ': 'Kia', 'Dòng xe: ': 'Morning', 'Năm sản xuất: ': '2018', 'Số Km đã đi: ': '30000', 'Tình trạng: ': 'Đã sử dụng', 'Hộp số: ': 'Số sàn', 'Nhiên liệu: ': 'Xăng', 'Xuất xứ: ': 'Việt Nam', 'Kiểu dáng: ': 'Hatchback', 'Số chỗ: ': '5', 'Người bán gửi Video: ': 'Có hỗ trợ', 'dia diem': 'Phường Thống Nhất,  Thành phố Pleiku, Gia Lai'}, 'price': 250000000}

In [5]:
with open('/media/cnkillerz/DOCUMENT/20201/nhập môn khoa học dữ liệu/project_dataScience/oldCar/xe.chotot.json', 'w', encoding='utf8') as f:
    json.dump(data, f, ensure_ascii=False)

In [7]:
data[0]

{'car_info': {'Hãng: ': 'Kia',
  'Dòng xe: ': 'Morning',
  'Năm sản xuất: ': '2018',
  'Số Km đã đi: ': '30000',
  'Tình trạng: ': 'Đã sử dụng',
  'Hộp số: ': 'Số sàn',
  'Nhiên liệu: ': 'Xăng',
  'Xuất xứ: ': 'Việt Nam',
  'Kiểu dáng: ': 'Hatchback',
  'Số chỗ: ': '5',
  'Người bán gửi Video: ': 'Có hỗ trợ',
  'dia diem': 'Phường Thống Nhất,  Thành phố Pleiku, Gia Lai'},
 'price': 250000000}

In [8]:
data[0]['car_info']['price'] = data[0]['price']
print(data[0])

{'car_info': {'Hãng: ': 'Kia', 'Dòng xe: ': 'Morning', 'Năm sản xuất: ': '2018', 'Số Km đã đi: ': '30000', 'Tình trạng: ': 'Đã sử dụng', 'Hộp số: ': 'Số sàn', 'Nhiên liệu: ': 'Xăng', 'Xuất xứ: ': 'Việt Nam', 'Kiểu dáng: ': 'Hatchback', 'Số chỗ: ': '5', 'Người bán gửi Video: ': 'Có hỗ trợ', 'dia diem': 'Phường Thống Nhất,  Thành phố Pleiku, Gia Lai', 'price': 250000000}, 'price': 250000000}

In [9]:
for i in data:
    i['car_info']['price'] = i['price']

In [11]:
data_ = []
for i in data:
    data_.append(i['car_info'])

In [24]:
# print(data_)

In [14]:
with open('E:\\20201\\nhập môn khoa học dữ liệu\\project_dataScience\\oldCar\\xe.chotot.1.json', 'w', encoding='utf8') as f:
    json.dump(data_, f, ensure_ascii=False)

In [16]:
features = set()
for i in data_:
    x = list(i.keys())
    for j in x:
        features.add(j)

print(features)

{'Đã sử dụng', 'Tình trạng: ', 'Hãng: ', 'Dòng xe: ', 'Số Km đã đi: ', 'price', '15000', 'Năm sản xuất: ', 'dia diem', 'Cần mua', 'Mới', 'Số chỗ: ', 'Xuất xứ: ', '60000', 'Kiểu dáng: ', 'Nhiên liệu: ', 'Người bán gửi Video: ', 'Hộp số: '}

In [1]:
import pandas as pd

In [20]:
import csv

In [56]:
csv_file = "E:\\20201\\nhập môn khoa học dữ liệu\\project_dataScience\\oldCar\\Names_1.csv"
try:
    with open(csv_file, 'w', encoding='utf8') as csvfile:
        writer = csv.DictWriter(csvfile, fieldnames=['Hãng', 'Dòng xe', 'Năm sản xuất', 'Số Km đã đi', 'Tình trạng', 'Hộp số', 'Nhiên liệu', 'Xuất xứ', 'Kiểu dáng', 'Số chỗ', 'Gửi video', 'Địa chỉ', 'giá', 'cần mua', 'đã sử dụng','mới', '6', '15'])
        # writer = csv.DictWriter(csvfile, fieldnames=list(features))
        writer.writeheader()
        for data in data_:
            writer.writerow(data)
except IOError:
    print("I/O error")

ValueError: dict contains fields not in fieldnames: 'Tình trạng: ', 'Hãng: ', 'Dòng xe: ', 'Số Km đã đi: ', 'price', 'Năm sản xuất: ', 'dia diem', 'Số chỗ: ', 'Xuất xứ: ', 'Kiểu dáng: ', 'Nhiên liệu: ', 'Người bán gửi Video: ', 'Hộp số: '

In [57]:
df = pd.read_csv('E:\\20201\\nhập môn khoa học dữ liệu\\project_dataScience\\oldCar\\Names.csv')

In [60]:
df.head()

,Đã sử dụng,Tình trạng:,Hãng:,Dòng xe:,Số Km đã đi:,price,15000,Năm sản xuất:,dia diem,Cần mua,Mới,Số chỗ:,Xuất xứ:,60000,Kiểu dáng:,Nhiên liệu:,Người bán gửi Video:,Hộp số:
0,NaN,Đã sử dụng,Kia,Morning,30000,250000000,NaN,2018,"Phường Thống Nhất, Thành phố Pleiku, Gia Lai",NaN,NaN,5,Việt Nam,NaN,Hatchback,Xăng,Có hỗ trợ,Số sàn
1,NaN,Đã sử dụng,Kia,Morning,68000,285000000,NaN,2011,"Phường Mỹ Đình 1, Quận Nam Từ Liêm, Hà Nội",NaN,NaN,5,Hàn Quốc,NaN,Hatchback,Xăng,Có hỗ trợ,Tự động
2,NaN,Mới,Mercedes Benz,S Class,NaN,4299000000,NaN,2020,"Phường Tây Thạnh, Quận Tân Phú, Tp Hồ Chí Minh",NaN,NaN,5,Đức,NaN,Sedan,Xăng,NaN,Tự động
3,NaN,Đã sử dụng,Toyota,Camry,6245,890000000,NaN,2016,"Quận Cầu Giấy, Hà Nội",NaN,NaN,5,Việt Nam,NaN,Sedan,Xăng,NaN,Tự động
4,NaN,Đã sử dụng,Isuzu,Hi lander,124533,179000000,NaN,2008,"Phường An Thới, Quận Bình Thuỷ, Cần Thơ",NaN,NaN,7,Nhật Bản,NaN,Sedan,Dầu,NaN,Số sàn

In [64]:
df = df.drop(['Đã sử dụng', '15000', 'Cần mua', 'Mới', '60000', 'Người bán gửi Video: '], axis=1)

In [2]:
df.to_csv (r'E:\\20201\\nhập môn khoa học dữ liệu\\project_dataScience\\oldCar\\Names_2.csv', index = False, header=True, encoding='utf-8')

NameError: name 'df' is not defined

In [67]:
df.head()

,Tình trạng:,Hãng:,Dòng xe:,Số Km đã đi:,price,Năm sản xuất:,dia diem,Số chỗ:,Xuất xứ:,Kiểu dáng:,Nhiên liệu:,Hộp số:
0,Đã sử dụng,Kia,Morning,30000,250000000,2018,"Phường Thống Nhất, Thành phố Pleiku, Gia Lai",5,Việt Nam,Hatchback,Xăng,Số sàn
1,Đã sử dụng,Kia,Morning,68000,285000000,2011,"Phường Mỹ Đình 1, Quận Nam Từ Liêm, Hà Nội",5,Hàn Quốc,Hatchback,Xăng,Tự động
2,Mới,Mercedes Benz,S Class,NaN,4299000000,2020,"Phường Tây Thạnh, Quận Tân Phú, Tp Hồ Chí Minh",5,Đức,Sedan,Xăng,Tự động
3,Đã sử dụng,Toyota,Camry,6245,890000000,2016,"Quận Cầu Giấy, Hà Nội",5,Việt Nam,Sedan,Xăng,Tự động
4,Đã sử dụng,Isuzu,Hi lander,124533,179000000,2008,"Phường An Thới, Quận Bình Thuỷ, Cần Thơ",7,Nhật Bản,Sedan,Dầu,Số sàn

In [21]:
df = pd.read_csv(r'E:\\20201\\nhập môn khoa học dữ liệu\\project_dataScience\\oldCar\\Names_2.csv', encoding='utf-8')

In [6]:
df.head()

,Tình trạng:,Hãng:,Dòng xe:,Số Km đã đi:,price,Năm sản xuất:,dia diem,Số chỗ:,Xuất xứ:,Kiểu dáng:,Nhiên liệu:,Hộp số:
0,Đã sử dụng,Kia,Morning,30000,250000000,2018,"Phường Thống Nhất, Thành phố Pleiku, Gia Lai",5,Việt Nam,Hatchback,Xăng,Số sàn
1,Đã sử dụng,Kia,Morning,68000,285000000,2011,"Phường Mỹ Đình 1, Quận Nam Từ Liêm, Hà Nội",5,Hàn Quốc,Hatchback,Xăng,Tự động
2,Mới,Mercedes Benz,S Class,NaN,4299000000,2020,"Phường Tây Thạnh, Quận Tân Phú, Tp Hồ Chí Minh",5,Đức,Sedan,Xăng,Tự động
3,Đã sử dụng,Toyota,Camry,6245,890000000,2016,"Quận Cầu Giấy, Hà Nội",5,Việt Nam,Sedan,Xăng,Tự động
4,Đã sử dụng,Isuzu,Hi lander,124533,179000000,2008,"Phường An Thới, Quận Bình Thuỷ, Cần Thơ",7,Nhật Bản,Sedan,Dầu,Số sàn

In [7]:
len(df)

31763

In [22]:
print(df['Tình trạng: '].unique())
print(df['Hãng: '].unique())
print(df['Dòng xe: '].unique())
print(df['Xuất xứ: '].unique())
print(df['Kiểu dáng: '].unique())
print(df['Nhiên liệu: '].unique())
print(df['Hộp số: '].unique())
# print(df['Dòng xe: '].unique())

['Đã sử dụng' 'Mới' nan]
['Kia' 'Mercedes Benz' 'Toyota' 'Isuzu' 'Mazda' 'Mitsubishi' 'Hyundai'
 'Ford' 'Volkswagen' 'Daewoo' 'Chevrolet' 'Vinfast ' 'Hãng khác' nan
 'Honda' 'Luxgen' 'Audi' 'Jeep' 'Acura' 'Ssangyong' 'Suzuki' 'Nissan'
 'Mini' 'Lexus' 'BMW' 'Porsche' 'Subaru' 'MG' 'Peugeot' 'Jaguar'
 'LandRover' 'Chery' 'Fiat' 'Mekong' 'Infiniti' 'Daihatsu' 'Baic'
 'Renault' 'Volvo' 'Cadillac' 'Lifan' 'Bentley' 'Chrysler' 'SYM' 'Haima'
 'Samsung' 'Zotye' 'Proton' 'Rover' 'Lincoln' 'Opel' 'Asia' 'Pontiac'
 'BYD' 'UAZ' 'Citroen' 'Changan' 'Dodge' 'Ferrari' 'Rolls Royce' 'Reult'
 'Maserati' 'Maybach' 'Gaz' 'Lada' 'Scion' 'Buick' 'Geely' 'Hummer'
 'Lamborghini' 'Alfa Romeo' 'GMC']
['Morning' 'S Class' 'Camry' 'Hi lander' 'Vios' '3' 'Pajero' 'Cerato'
 'Dmax' 'Cressida' 'Grand i10' 'Ranger' 'Innova' 'Starex' 'CX 5' 'Touareg'
 'Avante' 'Gentra' 'Pajero Sport' 'Spark' 'Lacetti' 'Lux' 'Sprinter'
 'Dòng khác' 'Santa Fe' nan 'CR V' '7 SUV' 'Fadil ' 'Accent' 'Pride'
 'Mu X' 'Q5' 'Cruze' 'Everest' 'Transit' 'Tucson' 'MX 6' 'Accord'
 'Grand Starex' 'C Class' 'Rondo' '2' 'Corolla Altis' 'Wrangler'
 'Fortuner' 'i20' 'EcoSport' 'Elantra' 'Carens' 'Attrage' 'Universe'
 'Xpander' '6' 'MDX' 'Kona' 'City' 'Civic' 'Stavic' 'Trailblazer' 'Zace'
 'F 150' 'Livina' 'Venza' 'Passat' 'Sedona' 'Jolie' 'HR-V' 'Triton' 'A5'
 'Cooper' 'RX' 'GLC' 'Navara' 'Alphard' 'GL Class' 'Hiace' 'Corona'
 'Hilux' 'Forte' 'A4' 'RAV4' 'Murano' 'Seltos' 'Ciaz' 'Spectra' 'Rio'
 '7 Series' 'Corolla' 'Grandis' 'Nubira' 'Swift' 'Getz' 'Soluto' 'County'
 'Focus' 'BT 50' 'Escape' 'Ertiga' 'Aveo' 'Captiva' 'Wigo' 'Matiz' 'Trax'
 'LS' 'Jazz' 'Rush' 'K3' 'Sorento' 'Sonata' 'Mondeo' 'NX' 'Lanos'
 'X trail' 'A2' 'Corolla Cross' 'i30' 'CX 8' 'Q7' 'Sunny' 'Explorer'
 'Fiesta' 'Outlander' 'Zinger' 'Lancer' 'E Class' 'Click' 'Picanto'
 'Land Cruiser' 'XL 7' 'Vigor' 'GLK Class' 'CLA Class' 'Macan' 'Laser'
 'A6' 'Legacy' 'ZT' 'Yaris' '3 Series' 'Lantra' '5008' 'IS' 'Brio '
 'Bluebird' 'XF' 'Solati' 'CD5' 'Xpander Cross' 'Discovery' 'QQ3' 'GX'
 'Genesis' 'Magnus' 'Tourneo' '3008' 'Musso' 'Avanza' '323' 'Forester'
 'Aerostar' 'Cerato Koup' 'Siena' 'Soul' 'Vitara' 'Sienna' 'Colorado'
 'Range Rover' 'Panamera' 'Orlando' 'Korando' 'Legend' 'Premio' 'XG'
 'Flex' 'XJ series' 'GLC Class' 'ES' 'TT' 'Intergra' 'Premacy' '4 Runner'
 'G37' 'Creta' 'CL Class' 'LX' 'Galloper' '86' '5' 'Carnival' 'Prado'
 'Optima' 'Cayenne' 'Mirage' '5 Series' 'Cefiro' 'Vivant' 'RX 8' 'Terios'
 'GLA Class' 'Outback' 'Previa' 'Cielo' 'X6' 'Fluence' 'Sportage' 'i8'
 '626' 'Grand livina' 'Wagon R+' 'Citivan' 'Azera' 'Verna' 'ML Class'
 'Traveller' 'Eclipse' 'Q3' 'Tiguan' 'Odyssey' 'Pick up' 'Prius' 'Avella'
 'CX 9' 'XC90' 'Chariot' 'SRX' 'IO' 'Land Cruiser Prado' 'Albea'
 'GLE Class' 'S5' 'Celerio' 'FX' 'Paso' 'Kalos' 'M3' 'Teana' 'Escalade'
 'EL' 'Wish' 'Range Rover Sport' 'X5' 'X3' 'Pathfinder' 'Highlander'
 'X Terra' 'Tempra' 'Eon' 'A1' 'Concord' 'Skyline' 'K5' 'Crown'
 'Flying Spur' 'GS' 'Scirocco' 'Range Rover Vogue' '300C' 'Grandeur'
 'Chairman' 'Pronto' 'Rexton' 'X4' 'MB' 'CLS Class' 'New Beetle' 'A Class'
 '2 Series' 'Terracan' 'CJ' 'Tiida' 'Veloster' 'Tacoma' 'T880' 'Samirai'
 'LR2' 'R Class' 'APV' 'Espero' '4 Series' 'eMighty' 'Escort' '911' 'Polo'
 'Cadenza' 'Grand vitara' 'Cresta' 'U7' 'SM3' 'Cedric' 'Allion' 'X1'
 'Aygo' 'Perdana' 'Trooper' 'Continental' 'Impreza' 'CTS' 'A8' '80' 'XC40'
 'XC60' 'Kyron' 'GentraX' '7' 'Veracruz' '520' 'Tico' 'Beetle' 'Navigator'
 'F PACE' 'Tivoli' 'F 450 ' 'Range Rover Evoque' '190' 'Mark II' '308'
 'Ducato' 'Presage' '100NX' 'M couper' 'Mighty' '208' 'Voyager' '508'
 'V Class' 'NMR' 'V5' 'Universe Xpress Luxury' '200SX' '323F' 'MPV'
 '7 MPV' 'Defender' 'XA' '500' 'CLK Class' 'GLB' 'Amigo' 'H 1' 'S90'
 'Qashqai' 'Altima' 'Freelander' 'Maxima' 'SLK Class' 'Coupe' 'Aranos'
 'Bronco' '408' 'Doblo' 'Atos' 'Punto' 'F0' 'Koleos' 'Hunter' 'Camaro'
 'i3' '605' 'Golf' 'CL' '126' 'Xcent' 'Honor' 'Trans sport' 'Sentra'
 'Focus C Max' 'QKR' 'Prince' 'Mustang' 'Z300' 'Galant' 'Moco'
 'Yaris Verso' 'Potentia' 'Grand caravan' 'Equus' '505' '205' 'Evanda'
 'K7' '575' 'Libero' '307' 'Gemini' 'Bravo' 'Patriot' 'Grunder' '207' 'RL'
 'SL Class' 'Ghost' 'Pulsar' 'Cabriolet' 'A3' 'Z500' 'Centennial'
 'B Class' 'Contour' 'A7' 'RDX' 'Routan' 'X7' 'Levante' 'QX60' 'Matrix'
 'Outlander Sport' 'Gazele' 'Fj cruiser' 'Terrano' '2107' 'QX70' 'Tc' 'EX'
 'Z4' 'Leganza' 'Electra' 'TL' 'Taurus' 'G Class' 'Maybach' 'HS' '107'
 'Jeep' 'Labo' 'Sigma' 'Patrol' 'MX 3' '405' 'Alto' 'Pony' 'M4' 'Arcadia'
 '1 Series' 'Avenir' 'CS35' 'Emgrand' 'Aerio' 'WRX' 'NPR' 'Colt' 'L300'
 'Ram' 'Ghibli' 'C2' '6 Series' 'NQR' 'H2' 'Tuscani' 'SM7' 'Vito'
 'Chevyvan' '19' 'Huracan' 'Karando' 'Q2' '206' 'F 350' 'Caravan' 'ZDX'
 'MX 5' '159' 'Carina' 'FVR' '370Z' 'AX' 'Tipo' 'Airtek' 'Trajet'
 'Mulsanne' '929' 'Aviator' '940' 'Element' 'Crown victoria' '21'
 'Quatroporte' 'Damas' 'Range Rover Velar' 'Wira']
['Việt Nam' 'Hàn Quốc' 'Đức' 'Nhật Bản' 'Nước khác' nan 'Thái Lan' 'Ấn Độ'
 'Mỹ' 'Đài Loan' 'Trung Quốc']
['Hatchback' 'Sedan' 'SUV / Cross over' 'Pick-up (bán tải)' nan
 'Minivan (MPV)' 'Van' 'Kiểu dáng khác' 'Mui trần' 'Coupe (2 cửa)']
['Xăng' 'Dầu' nan 'Động cơ Hybrid']
['Số sàn' 'Tự động' 'Bán tự động' nan]

In [23]:
df = df.dropna()

In [24]:
len(df)

19406